.header {
    width: 390px;
    height: 129.5px;
    background-color: #ACE2B5;
}


.subHeader {
    width: 390px;
    height: 22px;
}

.pageHeader {
    width: 96px;
    height: 22px;
    background-color: #008163;
    color: white;
    border-radius: 0px 11px 11px 0px;
    font-weight: bold;
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

