.main {
  width: 390px;
  height: 646.5px;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.whiteSection {
  width: 390px;
  height: 37.5px;
}

.imgs {
  width: 390px;
  height: 176px;
}

.profileSection {
  width: 390px;
  height: 186px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.lastSection {
  width: 390px;
  height: 247px;
  border-radius: 15px 15px 0px 0px;
  box-shadow: 0px -4px 8px 0 rgba(0, 0, 0, 0.25);
  display: flex;
  justify-content: center;
  align-items: center;
}

.Myprofile {
  width: 105px;
  height: 105px;
  background-color: #ebebeb;
  border-radius: 100px;
  margin-right: 63px;
  overflow: hidden;
  position: relative;
}

.Otherprofile {
  width: 105px;
  height: 105px;
  background-color: #ebebeb;
  border-radius: 100px;
}

.Myprofile::before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 120px;
  height: 100%;
  /* background: linear-gradient(to right, #f2f2f2, #ddd, #f2f2f2); */
  animation: loading 2s infinite linear;
}

@keyframes loading {
  0% {
    background-color: rgba(165, 165, 165, 0.1);
  }

  50% {
    background-color: rgba(165, 165, 165, 0.3);
  }

  100% {
    background-color: rgba(165, 165, 165, 0.1);
  }
}