.main {
    width: 390px;
    height: 646.5px;
    background-color: #D0F2D1;
}


.firstList {
    margin: 0px 0px 11px 0px;
    padding: 0;
    width: 390px;
    height: 61.25px;
    background-color: white;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.firstList li {
    font-size: 16px;
    height: 61.25px;
    width: 345px;
    padding: 0px 22.5px 0px 22.5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.listTitle {
    display: flex;
    justify-content: center;
    align-items: center;
}