.otherDividingSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.otherGoods {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  padding-bottom: 30px;
}