.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0.25rem 0.75rem 0.25rem 0.75rem;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2),
    0px 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 25px;
  width: 165px;
  height: 170px;
}

.cardBadge {
  background-color: #008163;
  position: relative;
  top: 25px;
  left: 31px;
  color: white;
  padding: 0.3rem 0.5rem;
  font-size: 1rem;
  font-family: 'Nexon Lv1 Gothic OTF Bold';
  border-radius: 0.3rem;
  width: 6px;
  height: 15px;
  text-align: center;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cardPhoto {
  width: 85%;
  height: 85%;
  overflow: hidden;
  position: relative;
  background-color: #ebebeb;
  border-radius: 20px;
  background-size: cover;
  background-position: center;
  position: relative;
  top: 10px;
}

.cardPhotos {
  width: 85%;
  height: 85%;
  background-color: #ebebeb;
  border-radius: 20px;
  background-size: cover;
  background-position: center;
  position: relative;
  top: 10px;
}

@keyframes loading {
  0% {
    background-color: rgba(165, 165, 165, 0.1);
  }

  50% {
    background-color: rgba(165, 165, 165, 0.3);
  }

  100% {
    background-color: rgba(165, 165, 165, 0.1);
  }
}

.cardPhoto::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 150px;
  height: 100%;
  /* background: linear-gradient(to right, #f2f2f2, #ddd, #f2f2f2); */
  animation: loading 2s infinite linear;
}

.cardMainText {
  margin: 0.5rem;
  font-size: 0.5rem;
  padding: 0.1rem 1.25rem;
  background-color: #008163;
  color: white;
  position: relative;
  top: -5px;
  border-radius: 20px;
}

.cardSubText {
  font-size: 0.5rem;
  color: #008163;
  position: relative;
  top: -10px;
}

