.activityGraph {
  width: 360px;
  height: 218px;
  border-radius: 22px;
  box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.25);
  margin-top: 17px;
}

.victoryChart {
  width: 305px;
  height: 161px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.selectTitle {
  list-style: none;
  padding: 0;

  display: flex;
  justify-content: center;
  text-align: center;
  margin: 17px 0px 10px 0px;
  cursor: pointer;
  color: #B7B7B7;
  font-weight: 900;
}

.Month {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-right: 23.5px;
  transition: color 0.2s;
}

.Week {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-left: 23.5px;
  transition: color 0.2s;
}

.list {
  margin: 0 auto;
  padding: 0;
  width: 310px;
  list-style: none;
  display: flex;
  justify-content: center;
  text-align: center;
}

.Month.Selected,
.Week.Selected {
  color: #008163; /* 선택된 뷰의 색상으로 변경 */
  border-bottom: 4px solid #ACE2B5; /* 선택된 뷰에 밑줄 스타일 추가 */
}

.list li {
  font-weight: 900;
  font-size: 10px;
}

.list li + li {
  margin-left: 38px;
}

.thisMonth {
  color: #008163;
}
