.badgeTitle {
  width: 342px;
  height: 250px;
  background-color: #cef4d0;
  box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.25);
  border-radius: 27px;
  padding: 18px 9px 14px 9px;
  display: flex;
  flex-direction: column;
}

.badgeTitle p {
  margin: 0;
  color: #008163;
  font-weight: 900;
  font-size: 16px;
}

.badgeSection {
  width: 350px;
  height: 181px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-top: 18px;
}

.badgeImgSection {
  display: grid;
  justify-content: center;
  align-items: center;
  width: 109px;
  height: 149px;
  border-radius: 10px;
  background-color: #ffffff;
  box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.25);
}

.btn {
  width: 146px;
  height: 23px;
  border-radius: 12px;
  background-color: #cef4d0;
  border-radius: 12px;
  border: 1px solid #008163;
  cursor: pointer;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 10px;
}

.btn:hover {
  background-color: #ace2b5;
  color: #008163;
}
