.chevron {
  margin-left: auto;
  transition: transform 0.25s cubic-bezier(0, 0, 0, 1);
}

.itemBtnExpanded .chevron {
  transform: rotate(180deg);
}

.item {
  border-bottom: 1px solid #ccc;
}

.itemBtn {
  cursor: pointer;
  display: flex;
  align-items: center;
  width: 100%;
  margin: 0;
  padding: 1rem;
  font-size: 1rem;
  text-align: left;
  color: #00562f;
  font-family: 'NEXON Lv1 Gothic OTF Bold';
  background-color: transparent;
  border: none;
}

.itemBtn:hover {
  background-color: #f3f3f3;
}

.itemBtnExpanded {
  background-color: #e7e7e7;
}

.itemContent {
  transition: height 0.25s cubic-bezier(0, 0, 0, 1);
}

.itemPanel {
  padding: 1rem;
  line-height: 200%;
}

.accordion {
  border-top: 1px solid #ccc;
}

.subHeader {
  margin-top: 10px;
  margin-bottom: 0;
  font-size: 0.9rem;
  color: gray;
}