.mainHeader {
    height: 107.5px;
    background-color: #ACE2B5;
}

.myPageLogo{
    width: 106px;
    height: 18px;
}

.mainHeaderContent {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 67.11px 0px 0px 19px;
}

.mainHeader h1 {
    margin: 0;
    font-size: 1.56rem;
    font-weight: bold;
}

.headerIcons{
    display: flex;
}

.headerIcons li{
    cursor: pointer;
    list-style: none;
    margin-right: 12px; 
}
