.main {
  width: 390px;
  height: 646.5px;
  background-color: #fff;
}

.rankingSection {
  height: 100%;
  overflow-y: scroll;
}

.rankingMainText {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 20%;
  font-family: 'NEXON Lv1 Gothic OTF Bold';
  font-size: 1.5rem;
}

.rankingSubText {
  font-size: 0.9rem;
  color: gray;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}

.rankingListSection {
  height: 80%;
}