.container {
  width: 390px;
  height: 844px;
  background-color: #ace2b5;
}

.logoSection {
  height: 73%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.divideLineSection {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 2%;
}

.horizontalDivider {
  height: 1px;
  width: 17%;
  background-color: white;
}

.dividerText {
  color: white;
}

.socialAccountLoginSection {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  height: 25%;
}
