@font-face {
  font-family: 'NEXON Lv1 Gothic OTF';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv1 Gothic OTF.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'NEXON Lv1 Gothic OTF Bold';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv1 Gothic OTF Bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: 'NEXON Lv1 Gothic OTF';
}

body{
  background-color: #DFE5EC;
  margin: 0;
  padding: 0;
  height: 844px;
  overflow: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media(min-width: 280px){
  body{
    width: 140%;
  }
}

@media(min-width: 320px){
  body{
    width: 110%;
  }
}

@media(min-width: 768px){
  body{
    width: 100%;
  }
}

  